[user]
    name = Adrian Sevcenco
    email = adrian.sevcenco@cern.ch
    github = adriansev

[credential]
    helper = store

[branch]
    autosetuprebase = always

[branch "master"]
    rebase = true

[alias]
    cm = commit
    co = checkout
    st = status
    pick = cherry-pick

    lognice = log --graph --decorate --pretty=oneline --abbrev-commit
    logniceall = log --graph --decorate --pretty=oneline --abbrev-commit --all
    logrpm = log --date=format:'%a %b %d %Y' --pretty=format:'* %ad %an%n- %s%n'

    logbranch = log --graph --decorate --pretty=oneline --abbrev-commit --first-parent --no-merges
    branchlog = logbranch

    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat --abbrev-commit
    list = log --graph --pretty=format:'%h %ad | %s%d [%an]' --date=short

    changes = diff --name-status
    diffstat = diff --stat
    whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    pwhatis = show -s --pretty='tformat:%h, %s, %ad' --date=short

    remotes = remote -v show

    find = log --pretty=\"format:%Cgreen%H %Cblue%s\n%b%Creset\" --name-status --grep

[core]
    editor = mcedit
    autocrlf = input
    symlinks = true

[merge]
    tool = kdiff3
    ff = true

[color]
    ui = true
    interactive = auto
    status = auto
    branch = auto

[push]
    default = simple
    autoSetupRemote = true

[sendemail]
    smtpencryption = tls
    smtpsslcertpath = ""
    smtpserver = smtp.cern.ch
    smtpuser = asevcenc
    smtpserverport = 587
    from = Adrian.Sevcenco@cern.ch
    envelopesender = auto

[format]
    suffix = .patch
    numbered = auto
    signoff = true

[help]
    autocorrect = 1

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[checkout]
    defaultRemote = origin


